.back__btn {
    padding: .5em 1.5em;
    display: flex;
    align-items: center;
    width: fit-content;
    margin-bottom: .5em;
    color: #34495E;
    border-radius: 10px;
    border: 1px solid #34495E;
    text-decoration: none;
}
.back__btn > svg {
    margin-right: .3em;
}

.wrapper__legal {
    width: 100%;
  }
  @media(max-width: 599px) {
    .wrapper__legal {
      padding: 1em 1em 6em 1em;
    }
  }
  @media(min-width: 600px) {
    .wrapper__legal {
      padding: 2em 3em 7em 3em;
    }
  }
  
  .wrapper__legal h1 {
    margin-bottom: 20px;
  }
  
  .wrapper__legal h1:first-child {
    margin-top: 0px;
  }
  
  .wrapper__legal h1:last-child {
    margin-bottom: 0px;
  }
  
  .wrapper__legal .mainBox {
    list-style: none;
    counter-reset: li;
  }
  
  .wrapper__legal .main {
    counter-increment: li;
    font-size: 1rem;
  }
  
  .wrapper__legal .main:before {
    content: counter(li);
    color: #34495E;
    display: inline-block;
    width: 1em;
    margin-right: 10px;
  }
  
  .wrapper__legal .extBox {
    padding: 5px 20px;
  }
  
  .wrapper__legal .ext {
    list-style: none;
  }
  
  .wrapper__legal .ext:before {
    content: "•";
    color: #34495E;
    margin-right: 10px;
  }